.Header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.Header h1 {
  color: #fa2e2e;
}

.Header .header-links {
  text-decoration: none;
  color: white;
}

.Header .zebra-pic {
  width: 100px;
}
