.SearchForm .inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  justify-content: space-between;
}

.SearchForm button {
  border-radius: 10px;
  margin-top: 10px;
  width: 60%;
  background-color: tomato;
  color: white;
  cursor: pointer;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .SearchForm .inputs {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .SearchForm button {
    width: 75px;
    display: inline;
  }
}
